<!DOCTYPE html>
<html lang="ja">
  <!--include head-->
  <% include partial/head %>
  <body>
    <!--include header-->
    <% include partial/header %>
    <!--// include header end-->

    <!--page ID-->
    <div id="PageName">
      <div class="l-conent cf">

        <div class="l-main">

        </div>
        <!--// #Main-->

        <!--include side-->
        <% include partial/side %>
        <!--// #Side-->

      </div>

      <!--include footer-->
      <% include partial/footer %>
      <!--// #Footer-->

    </div>
    <!-- #page-->
  </body>
</html>
